//COLORS

$background: #0D0C17 !default ;
$background-light: #1A1829 !default ;

$color-1: #fff;

$colors: (
  "color-1": #54BB78,
  "color-2": #3F31B0,
  "color-3": #313EDB,
  "color-4": #5258E0,
  "color-5": #AA79C9,
  "color-6": #9C7FD4,
  "color-7": #7F90D4,
  "color-8": #CC89C1,
  "color-9": #CF578B
) !default;

$social-colors: (
  "facebook": #3b5998,
  "twitter": #1da1f2,
  "google": #dc4e41,
  "youtube": #ff0000,
  "vimeo": #1ab7ea,
  "dribbble": #ea4c89,
  "github": #181717,
  "instagram": #e4405f,
  "pinterest": #bd081c,
  "vk": #6383a8,
  "rss": #ffa500,
  "flickr": #0063dc,
  "bitbucket": #0052cc,
  "tabler": #206bc4
) !default;

//VARIABLES

$border-sm: 7px;